<div class="card card-body p-5 mt-4">
  <h1 class="display-4">App de Notas creada con Nodejs y MongoDB Atlas!</h1>
  <p class="lead">
    Una App simple para manejar Notas desarrollada con NodeJS, Express, MongoDB
    Atlas y Javascript, utilizando temas de Bootstrap como estilo.
  </p>
  <hr class="my-4" />
  <p>Esta aplicacion fue creada como proyecto final del Bootcamp Digitalers de Telecom / EducacionIT.
    <br>
    Creador: Matías Noir
    <!-- Links a repositorio github ^ Linkedin -->
  </p>
</div>
