<div class="card card-body p-5 mt-4">
  <h1 class="display-4">App de Notas</h1>
  <p class="lead">
    Una App simple para manejar Notas desarrollada con NodeJS, Express, MongoDB
    Atlas y Javascript, y utilizando de estilo temas de Bootstrap.
  </p>
  <hr class="my-4" />
  <p>Esta aplicacion fue creada como proyecto final del Bootcamp Digitalers de
    Telecom / EducacionIT.
    <br />
    <p>Contacto:
      <a href="https://www.linkedin.com/in/matias-noir/" target="_blank">Matías
        Noir</a>.<br />
      Repositorio del proyecto:
      <a
        href="https://github.com/MatiasNoir/proyecto-final-digitalers"
        target="_blank"
      >GitHub</a>
    </p>
  </p>
</div>