<div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card mt-5 bg-black text-white rounded">
        <div class="card-header text-center pt-5 bg-dark">
          <h1 class="h4 text-white">
            Entrar
          </h1>
        </div>
        <div class="card-body">
          <form action="/auth/login" method="POST">
            <div class="mb-3">
              <label for="email">Email:</label>
              <input
                type="email"
                class="form-control bg-dark text-white"
                name="email"
                placeholder="Email"
                autofocus
              />
            </div>
            <div class="mb-3">
              <label for="passswore">Contraseña:</label>
              <input
                type="password"
                class="form-control bg-dark text-white"
                name="password"
                placeholder="Contraseña"
              />
            </div>
            <button class="btn btn-success btn-block">
              Entrar
            </button>
          </form>
        </div>
  
        <p class="text-center">No tenes una cuenta? <a href="./register" class="text-info">Regístrate</a></p>
      </div>
    </div>
  </div>